/* login page start */
#loginBody{
    background-color: #f4f4f4; 
    display: flex; 
    justify-content: center;
    font-family: sans-serif;
}
.loginHeading{
    font-size: 40px;
    color: rgb(38, 38, 247) ;
}
.loginForm{
    background-color: white;
    border: 1px solid rgb(38, 38, 247);
    width: 420px;
    height: 70vh;
    text-align: center;
    border-radius: 20px;
    padding: 20px;
    margin-top: 4%;
}
.inpDiv{
    margin-top:20%;
}
.inpDiv input{
   padding: 12px;
   margin-bottom: 3%;
   width: 80%;
   font-size: larger;
   border: 1px solid #AAB8C2;
   border-radius: 5px;
}
.inpDiv input:focus{
    outline: none;
    border: 1px solid rgb(38, 38, 247) !important;
}
.loginbtn{
    padding: 12px;
    border: none;
    width: 80%;
    font-size: large;
    font-weight: bold;
    border-radius: 20px;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: rgb(38, 38, 247);
    color: white;
    cursor: pointer;
    border: 1px solid white;
    transition: all 0.5s;
}
.loginbtn:hover{
    background-color: white;
    color: rgb(38, 38, 247);
    border: 1px solid rgb(38, 38, 247);
    transition: all 0.5s;
}
.accountbtn{
    padding: 12px;
    border: none;
    width: 80%;
    font-size: large;
    font-weight: bold;
    border-radius: 20px;
    margin-top: 2%;
    background-color: white;
    color: rgb(38, 38, 247);
    border: 1px solid rgb(38, 38, 247);
    cursor: pointer;
    transition: all 0.5s;
}
.accountbtn:hover{
    background-color: rgb(38, 38, 247);
    color: white;
    border: 1px solid white;
    transition: all 0.5s;
}
/* login page end */

/* account page start */
#accountbody{
    background-color: #f4f4f4; 
    display: flex; 
    justify-content: center;
    font-family: sans-serif;
}
.accountHeading{
    font-size: 40px;
    color: rgb(38, 38, 247) ;
}
.accountForm{
    background-color: white;
    border: 1px solid rgb(38, 38, 247);
    width: 420px;
    height: 75vh;
    text-align: center;
    border-radius: 20px;
    padding: 20px;
    margin-top: 3%;
}
.inpDiv{
    margin-top:20%;
}
.inpDiv input{
   padding: 12px;
   margin-bottom: 3%;
   width: 80%;
   font-size: larger;
   border: 1px solid #AAB8C2;
   border-radius: 5px;
}
.inpDiv input:focus{
    outline: none;
    border: 1px solid rgb(124, 216, 253);
}
.donebtn{
    padding: 12px;
    border: none;
    width: 80%;
    font-size: large;
    font-weight: bold;
    border-radius: 20px;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: rgb(38, 38, 247) ;
    color: white;
    cursor: pointer;
    border: 1px solid white;
    transition: all 0.5s;
}
.donebtn:hover{
    background-color: white;
    color: rgb(38, 38, 247) ;
    border: 1px solid rgb(38, 38, 247) ;
    transition: all 0.5s;
}
.gotobtn{
    padding: 12px;
    border: none;
    width: 80%;
    font-size: large;
    font-weight: bold;
    border-radius: 20px;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: rgb(38, 38, 247) ;
    color: white;
    cursor: pointer;
    border: 1px solid white;
    transition: all 0.5s;
}
.gotobtn:hover{
    background-color: white;
    color: rgb(38, 38, 247) ;
    border: 1px solid rgb(38, 38, 247) ;
    transition: all 0.5s;
}
/* account page end */

/* dashboard page start */

/* navbar */
.navbar{
    padding: 10px;
    border-bottom: 1px solid #AAB8C2;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 99999;
}
.navbar-brand{
   font-size: 30px;
   font-weight: bold;
}
.navbar-nav{
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav-link{
    font-weight: bold;
    font-size: 20px;
    color: black;
    transition: all 0.5s;
}
.nav-link:hover{
    color: rgb(0, 72, 255);
    transition: all 0.5s;
}
.cart{
    font-size:x-large;
    margin-bottom: 15%;
}
.logoutbtn{
    font-size: 17px;
    font-weight: bold;
    border: none;
    width: 100px;
    padding: 5px;
    background-color: rgb(0, 72, 255);
    color: white;
    border-radius: 5px;
}
.select{
    font-size: 17px;
    border: none;
    padding: 5px;
    background-color: rgb(0, 72, 255);
    color: white;
    border-radius: 5px;
    font-weight: bold;
}
.select:focus{
    outline: none;
}
.select option{
   background-color: rgb(57, 113, 255);
   font-weight: bold;
}
/* navbar */

/* slider */
.carousel-item img{
 height: 460px;
}
/* slider */

/* card */
.cardheading{
    text-align: center;
    margin-top: 10%;
}
.cardP{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.card{
    width: 300px;
    height: 70vh;
    margin-bottom: 2%;
    padding: 13px;
}
.card:hover{
    border-color: rgb(0, 72, 255);
}
.card img{   
    height: 220px;
    width: 220px;
    margin-left: 10%;
}
.cardText{
    overflow: scroll;
}
.cardText::-webkit-scrollbar{
    display: none;
}
.priceNrating{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cardSpan{
    /* margin-left: 20%; */
    font-weight: normal;
    font-size: 20px;
}
.cardSpan i{
    color: rgb(255, 217, 0);
    font-size: 20px;
}
.cartbtn{
    width: 100%;
    background-color: rgb(0, 72, 255);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin-top: 7%;
    border: 1px solid rgb(0, 72, 255);
    transition: all 0.5s;
}
.cartbtn:hover{
    color: rgb(0, 72, 255);
    background-color: white;
    border: 1px solid rgb(0, 72, 255);
    box-shadow: 0px 0px 4px rgb(0, 72, 255);
    transition: all 0.5s;
}
/* card */

/* footer */
.footer{
    padding: 40px;
    background-color: rgb(61, 115, 250);
    border-top: 3px solid #AAB8C2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 8%;
}
.aboutus h2{
    color: white;
    font-size: 40px;
}
.aboutus p{
    color: white;
    font-size: 13px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.followus h2{
    color: white;
    font-size: 40px;
}
.followus a{
    color: white;
    font-size: 30px;
    margin-left: 10%;
    transition: all 0.5s;
}
.followus #fb:hover{
    color:rgb(24, 24, 238);
    text-shadow: 0px 0px 5px rgb(1, 225, 255);
    transition: all 0.5s;
}
.followus #wh:hover{
    color: rgb(4, 238, 4);
    text-shadow: 0px 0px 5px rgb(128, 255, 54);
    transition: all 0.5s;
}
.followus #twit:hover{
    color:rgb(24, 24, 238);
    text-shadow: 0px 0px 5px rgb(1, 225, 255);
    transition: all 0.5s;
}
.contactus h2{
    color: white;
    font-size: 40px;
}
.contactus h3{
    text-align: center;
    color: white;
    font-size: 22px;
    margin-top: 8%;
}
#copyright{
    color: white;
    font-size: 15px;
}
/* footer */
/* dashboard page end */
@media(max-width:1024px){
    .carousel-item img{
        height: 300px;
       }
}
@media(max-width:660px){
    .navbar-brand{
        font-size: 20px;
     }
    .carousel-item img{
        height: 200px;
       }
}
@media(max-width:435px){
    .carousel-item img{
        height: 150px;
    }
    .footer{
        flex-direction: column;
        text-align: center;
        row-gap: 18px;
    }
    .aboutus p{
        font-size: 10px;
    }
    .followus h2{
        font-size: 30px;
    }
    .followus a{
        font-size: 23px;
        margin-left: 4%;
    }
    .aboutus h2{
        font-size: 30px;
    }
    .contactus h2{
        font-size: 30px;
    }
    #copyright{
        font-size: 10px;
    }
}
